<div>
  <h2 id="page-heading" data-cy="ExpensesHeading">
    <span jhiTranslate="elpidaApp.expenses.home.title">Expenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="elpidaApp.expenses.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-expenses"
        [routerLink]="['/expenses/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="elpidaApp.expenses.home.createLabel"> Create a new Expenses </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="elpidaApp.expenses.home.notFound">No expenses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="expenses && expenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="elpidaApp.expenses.iD">I D</span></th>
          <th scope="col"><span jhiTranslate="elpidaApp.expenses.name">Name</span></th>
          <th scope="col"><span jhiTranslate="elpidaApp.expenses.value">Value</span></th>
          <th scope="col"><span jhiTranslate="elpidaApp.expenses.date">Date</span></th>
          <th scope="col"><span jhiTranslate="elpidaApp.expenses.category">Category</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expenses of expenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expenses', expenses.id, 'view']">{{ expenses.id }}</a>
          </td>
          <td>{{ expenses.iD }}</td>
          <td>{{ expenses.name }}</td>
          <td>{{ expenses.value }}</td>
          <td>{{ expenses.date | formatMediumDate }}</td>
          <td>
            <div *ngIf="expenses.category">
              <a [routerLink]="['/category', expenses.category?.id, 'view']">{{ expenses.category?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expenses', expenses.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expenses', expenses.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(expenses)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
